body {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #FFFFFF;
}

.container-fluid .col-md-6 a, .footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.counter {
    margin-top: 20px;
    font-size: 22px;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

.clear {
    clear: both;
}

a.addplayer {
    margin-top: 15px;
}

.buttonbox {
    margin: 15px 0 15px 0;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

#score {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

.totalpoints {
    font-size: 18px;
}

td {
    vertical-align: middle;
}

.scoreboard > tbody > tr > td {
    width: 7%;
    vertical-align: middle;
}

.navbar-default {
    background-color: #204D74;
    color: #ffffff;
}

h2 small.white {
    color: #FFFFFF;
}

.extra-info {
    text-align: center;
}

.footer {
    background-color: #204D74;
    color: #FFFFFF;
    padding: 20px;
}

table.tablesorter thead tr th.headerSortUp:after,
table.tablesorter thead tr th.headerSortDown:after,
table.tablesorter thead tr th.header:after {
    font-family: FontAwesome;
}
table.tablesorter thead tr th.header:after {
    content: "\f0dc";
}
table.tablesorter thead tr th.headerSortUp:after {
    content: "\f0de";
}
table.tablesorter thead tr th.headerSortDown:after {
    content: "\f0dd";
}

@media only screen and (max-device-width: 480px) {

    .extra-info {
        display: none;
    }

    a.addplayer {
        margin-top: 0;
    }

    .edit-t{
        width:100%;
    }

    .positive, .negative {
        font-size: 20px;
    }

    .header-title {
        text-align: center;
    }

    .counter {
        margin-top: 0;
        font-size: 18px;
        text-align: center;
    }

}

@media only screen and (max-device-width: 450px) {

    .navbar-default h4 {
        display: none;
    }

    .navbar-default h2 {
        font-size: 24px;
    }
}

