body {
    padding-top: 60px;
    background-color: #efefef;
}

.container {
    background-color: #FFFFFF;
}

.clear {
    clear: both;
}

a.addplayer {
    margin-top: 15px;
}

.buttonbox {
    margin: 15px 0 15px 0;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

#score {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

.totalpoints {
    font-size: 18px;
}

td {
    vertical-align: middle;
}

.scoreboard > tbody > tr > td {
    width: 7%;
    vertical-align: middle;
}

.navbar-default {
    background-color: #204D74;
    color: #ffffff;
}

h2 small.white {
    color: #FFFFFF;
}

.extra-info {
    text-align: center;
}

@media only screen and (max-device-width: 480px) {
    .extra-info {
        display: none;
    }
    a.addplayer {
        margin-top: 0;
    }
    .edit-t{
        width:100%;
    }
    .positive, .negative {
        font-size: 20px;
    }
}

@media only screen and (max-device-width: 450px) {
    .navbar-default h4 {
        display: none;
    }
}

